@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sawarabi+Gothic&display=swap');

:root {
    --laranja: #ff9629;
    --azul: rgb(58, 203, 203)
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}
body{

    background-image: url(imgs/parque\ 2.jpg);
    background-size: cover;
    width: 100%;
    
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ff9629;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#botao-fechar {
    display: none;
}

#hamburguer {
    display: none;
}

.header-direita {
    display: flex;
    flex-direction: column-reverse;
}

#logo-img {
    height: 90px;
}

#pesquisar {
    border-radius: 7px;
    outline: none;
    border: none;
    padding: 5px;
    width: 256px;
}

.pesquisa {
    position: relative;
    /* background-color: red; */
    width: fit-content;
}

#pesquisa-button img {
    height: 20px;
}

#pesquisa-button {
    border: none;
    background-color: #ff982900;
    position: absolute;
    right: 0;
    top: 15%;
}

.nav-header {
    font-size: 13.5px;
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.nav-header a {
    color: black;
}

.nav-header a:hover {
    color: rgb(27, 92, 255);
}

.div-logo {
    width: 260px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
section{
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background: darkturquoise;
    width: 500px;
    height: 500px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section h2{
    color: #ffff;
    font-size: 2.5rem;
    margin: 10px;
    text-align: center;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #ffff;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    background-color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
    border: #f5f5f5;
}
 
button:hover { background-color: #ffffffdf; }

@media screen and (max-width: 990px) {
    .principais {
        flex-direction: column;
    }
}

/*  */
/*  */
/*  */
/*  */
.container {
    text-align: center;
        
}

.heading {
    color: #ff9629;
}




footer div a {
    text-align: center;
    margin: 20px;
    margin-top: px;
}


body{
    background-image: url(fundo2.jpg);
    background-size: cover;
    
}

.imga {
    background-size: cover;
} 

@media (max-width: 992px) {
    #botao-fechar {
        display: block;
    }
    
    #hamburguer {
        display: block;
    }

    header h1 {
        font-size: 15px;
    }

    #logo-img { 
        height: 60px;
    }

    .div-logo {
        width: 73.73px;
    }

    .div-hamburguer {
        width: 73px;
    }

    #hamburguer {
        height: 25px;
        width: 25px;
        background: none;
        border: none;
    }

    #hamburguer img {
        height: 25px;
        width: 25px;
    }

    .desativado {
        display: none;
    }

    .hamburguer-on {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        background-color: #ffa545;
        padding: 30px 15px 15px 15px;
        border-radius: 7px;
        top: 0;
        gap: 10px;
    }

    .header-direita {
        display: none;
        flex-direction: column-reverse;
    }

    #pesquisar {
        width: 150px;
    }

    .nav-header {
        flex-direction: column;
        align-items: center;
    }

    #botao-fechar {
        height: 25px;
        width: 25px;
        background: none;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    #botao-fechar img {
        height: 25px;
    }

    section {
        width: 300px;
        height: 500px;
    }
}