@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sawarabi+Gothic&display=swap');

:root {
    --laranja: #ff9629;
    --azul: rgb(58, 203, 203)
}

* {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}



.content {
    position: relative;
}
.content img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(70%);
    z-index: -10000;
}

.content h1 {
    position: absolute;
    left: 19%;
    top: 40%;
    font-size: 40px;
    color: white;
    text-align: center;
  }

.content svg {
    position: absolute;
    bottom: 0;
}

.principais {
    display: flex;
    background-color: var(--azul);
}
.destaques img {
    width: 600px;
    margin: 10vh 10vh;
}

.atracoes {
    margin-top: 10vh;
    margin-left: 5vh;
}

.atracoes h2 {
    font-size: 45px;
    font-family:'Poppins', sans-serif;
    text-transform: uppercase;
    color: rgba(240, 255, 69, 0.813);
}

.atracoes p {
    font-size: 20px;
    color: white;
}

.atracoes button {
    margin: 30px 27%;
    padding: 0.8rem 2.4rem;
    border-radius: 50px;
    background-color:rgba(240, 255, 69, 0.813);
    border-style: none;
    transition: .5s ease;
    font-size: 1.25rem;
}

.atracoes a {
    text-decoration: none;
    color: rgb(235, 24, 94);

}

.atracoes button:hover {
    background-color: rgba(122, 132, 14, 0.813);
    color: rgb(117, 17, 50);
    transform: translateY(-5px);
    box-shadow: 0 10px 30px -10px rgba(0,0,0,.3);
}

.Ingressos {
    position: relative;
}
.ingressos1 img {
    width: 100%;
    z-index: -10000;
}

.Ingressos svg {
    position: absolute;
    bottom: 0;
}

