@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sawarabi+Gothic&display=swap');

:root {
    --laranja: #ff9629;
    --azul: rgb(58, 203, 203)
}

* {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    background-color: var(--laranja);
}
nav a {
    text-decoration: none;
    color: white;
}
.nav1 {
    margin-left: 20px;
    margin-right: 20px;
}

/*  */
/*  */

.container {
    text-align: center;
        
}

.heading {
    color: #ff9629;
}


footer {
    text-align: center;
    background-color: rgb(58, 203, 203);
    height: 130px;
}

footer div a {
    text-align: center;
    margin: 20px;
    margin-top: px;
}

header img {
    width: 250px;
}

body{
    background-image: url(fundo2.jpg);
    background-size: cover;
        
}

.imga {
 background-size: cover;
}
